<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>

<div class="container-dashboard">
            <button class="btn-menu" onclick="toggleMenu()">
    <span id="icone-menu">☰</span>
</button>
            <div class="menu-dashboard">
                <div class="container-logo-menu">
                    <img src="../img/logo-menu-dashboard.png" alt="logo" id="imagem-logo-menu">
                </div>
                <div class="icon-pessoa-menu">
                    <img src="../img/pessoa.png" alt="icon pessoa">
                    <p>Amanda e Eduarda</p>
                </div>
                <div class="links-menu-dashboard">
                    <li><img src="/img/casa.png" alt="casa"><a href="/dashboardhome" target="_blank">Dashboard</a></li>
                    <li><img src="../img/editar.png" alt="casa"><a href="/gerenciar" >Gerenciar serviços</a></li>
                    <li><img src="../img/galeria.png" alt="casa"><a href="/visualizar" target="_blank">Visualizar serviços</a></li>
                    <li><img src="../img/sair.png" alt="casa"> 
                        <a href="#" id="btnSair" onclick="abrirModalSair(event)">Sair</a></li>
                </div>
            </div>
            

            <div class="adc_servico">
                

    <p>Adicionar serviços</p>

    <form action="/cadastrar" method="post" enctype="multipart/form-data">
        
        <div class="divisao-form">

            <div class="formulario_adicionar">

                <label for="titulo">Título do serviço:</label>
                
                <input 
                    type="text" 
                    id="titulo" 
                    name="titulo" 
                    placeholder="Ex: Progressiva sem formol" 
                    required
                >
                <label for="descricao">Valor do serviço:</label>
                 <input 
                    type="text" 
                    id="valor" 
                    name="valor" 
                    placeholder="Ex: 150" 
                    required
                >

                 <label for="descricao">Qual o tipo de serviço?</label>
                     <select name="categoria" required>
       
            <option value="">Selecione</option>

            <option value="alisamento">
                Alisamento
            </option>

            <option value="cilios">
                Cílios
            </option>

        </select>


                <label for="descricao">Descrição do serviço:</label>

                <input 
                    type="text" 
                    id="descricao" 
                    name="descricao"  
                    class="titulo"
                    required
                >
            
            </div>

   



            <div class="inserir_img">

                <img src="../img/fotos.png" alt="foto">

                <label for="foto" class="custom-file">
                    Inserir imagem
                </label>

                <input 
                    type="file" 
                    id="foto" 
                    name="imagem" 
                    accept="image/*" 
                    required 
                    hidden
                >

                <h6 id="nome-arquivo">
                    Nenhum arquivo escolhido
                </h6>
                

            </div>
            

        </div>

        <div class="btn_enviar">
            <button 
                type="submit" 
                class="btn-submit" 
                value="Cadastrar produto"
                {{!-- onclick="abrirPreview()" --}}
            >
                Adicionar
            </button>
        </div>

    </form>

</div>


<dialog id="modal-logout" class="modal-conteudo">
            <h2>Confirmar Saída</h2>
            <p>Deseja realmente sair da dashboard?</p>
            
            <div class="modal-botoes">
                <button class="btn-confirmar" onclick="confirmarLogout()">Sair</button>
                <button class="btn-cancelar" onclick="fecharModalSair()">Cancelar</button>
            </div>
        </dialog>




       <script>
            function toggleMenu() {
                const menu = document.querySelector('.menu-dashboard');
                const icone = document.getElementById('icone-menu');

                menu.classList.toggle('ativo');

                if (menu.classList.contains('ativo')) {
                    icone.innerHTML = '✖'; // vira X
                } else {
                    icone.innerHTML = '☰'; // volta hambúrguer
                }
            }
        </script>
        <script>
document.getElementById("foto").addEventListener("change", function() {
    const nome = this.files[0]?.name || "Nenhum arquivo escolhido";
    document.getElementById("nome-arquivo").textContent = nome;
});

</script>
 

        <script>
                const modalSair = document.getElementById("modal-logout");

    function abrirModalSair(event) {
        event.preventDefault(); // Impede o link de recarregar a página
        modalSair.showModal();
    }

    function fecharModalSair() {
        modalSair.close();
    }

    function confirmarLogout() {
        // Aqui você limpa os dados de login (opcional)
        // localStorage.removeItem("usuarioLogado"); 
        
        // Redireciona para a página de login
        window.location.href = "login.html"; 
    }
        </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{#if mensagem}}
<script>
window.onload = function() {
    Swal.fire({
        title: 'Sucesso!',
        text: '{{mensagem}}',
        icon: 'success',
        confirmButtonText: 'OK'
    });
}
</script>
{{/if}}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        </body>
</html>
