@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

:root {
    --primary-color: #F5F0E6;
    --secondary-color:#863B0A;
    --text-color:#a7510f;
}

body{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.Main{
    background-color:#eee7d8 ;
    width: 69%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    box-shadow: 0px 0px 10px 1px rgba(146, 146, 146, 0.356);
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    height: 80%;
}

.info .text{
    font-size: 1.7rem;
    color: var(--text-color);
    text-align: center;
}

.info h5{
    font-size: 1.1rem;
    color: var(--text-color);
}

.Main .image{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{ 
    width: 135%;
}

.info-dados{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-dados input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 1.2rem;
    border: none;
}

.info-dados p{
    font-size: 1.5rem;
    color: var(--text-color);
}

.info .btn{
    display: flex;
    gap: 20px;
}

.info .btn button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;   
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 1.0rem;
    transition: 0.36s ease-in-out;
}

.info .btn button:hover{
    background-color: var(--primary-color);
    color: var(--text-color);
    transform: scale(1.1);
    transition: 0.36s ease-in-out;
    box-shadow: 0px 0px 7px 0px #863B0A;
}

